@let job = data();
<p-card>
  <div class="grid gap-3">
    <!-- top section  -->
    <div class="flex items-center gap-2.5">
      <!-- avatar  -->
      <div>
        <div
          class="w-12 aspect-square flex items-center justify-center border border-slate-500 rounded-full"
        >
          <span>{{ titleToInitials(job.title) || 'JT' }}</span>
        </div>
      </div>
      <!-- job details  -->
      <div class="grow">
        <h1 class="text-xl font-medium">{{ job.title || '' }}</h1>
        <div class="text-sm font-semibold text-slate-400 flex items-center gap-1">
          <span>{{ job.company.name || '' }}</span>
          <i class="pi pi-circle-fill text-[4px]"></i>
          <span> {{ job.location || '' }}</span>
        </div>
      </div>
      <!-- other details  -->
      <div class="self-start">
        <span class="text-sm text-slate-400">{{ job.createdAt | timeAgo }}</span>
      </div>
    </div>

    <!-- mid section  -->
    <div>
      <div class="flex items-center justify-start gap-2">
        <p-tag class="font-medium" severity="success" [value]="mapJobType(job.type)" />
        <p-tag class="font-medium" severity="info" [value]="job.remote ? 'Remote' : 'In-Person'" />
      </div>
      <div class="mt-2 text-base">{{ job.description || '' }}</div>
    </div>

    <!-- bottom section  -->
    <div>
      <div class="flex justify-between items-center">
        <div>
          <p>
            <span class="text-lg font-medium">{{
              job.salary | currency: 'INR' : 'symbol' : '1.0-0' : 'en-IN'
            }}</span>
            <span class="text-sm text-slate-400">/month </span>
          </p>
        </div>
        <div>
          <p-button
            [label]="btnOption().label"
            [icon]="btnOption().icon"
            [size]="btnOption().size"
            [severity]="btnOption().severity"
            [raised]="btnOption().raised"
            [rounded]="btnOption().rounded"
            [loading]="btnOption().loading"
            [disabled]="btnOption().disabled"
            (onClick)="onBtnAction.emit()"
          />
        </div>
      </div>
    </div>
  </div>
</p-card>
