@let user = authUser();
<div class="grid gap-8 my-14 mx-auto max-w-5xl">
  <div>
    <!-- profile  -->
    <div class="flex items-center justify-start gap-2.5">
      <div
        class="w-16 aspect-square flex items-center justify-center border border-slate-700 rounded-full"
      >
        <span class="text-2xl">AU</span>
      </div>
      <div>
        <div class="text-xl font-medium">{{ user?.name || '' }}</div>
        <p class="text-sm text-slate-500">{{ user?.email || '' }}</p>
      </div>
    </div>

    <div>
      <div class="mt-8 mb-4"><span class="text-lg font-medium"> Profile Details </span></div>
      <div class="grid grid-cols-[320px_1fr] grid-rows-3">
        <!-- label  -->
        <div><span class="text-slate-400">Full Name</span></div>
        <!-- value  -->
        <div>
          <span>{{ user?.name || '' }}</span>
        </div>

        <!-- divider -->
        <div class="col-span-2">
          <p-divider />
        </div>

        <!-- label  -->
        <div class="text-slate-400">Email</div>
        <!-- value  -->
        <div>{{ user?.email || '' }}</div>
      </div>
    </div>
  </div>

  <!-- applications  -->
  <div>
    <div class="my-4"><span class="text-lg font-medium">Applications</span></div>
    @if (appliedJobsResultLoading()) {
      <div class="flex items-center justify-center my-5">
        <i class="pi pi-spin pi-spinner text-slate-300 text-3xl"></i>
      </div>
    } @else if (!appliedJobsResultLoading() && appliedJobsResult().length > 0) {
      <div class="grid gap-3.5">
        @for (job of appliedJobsResult(); track job.id) {
          <app-job-card
            [data]="job"
            [btnOption]="btnOption"
            (onBtnAction)="confirmCancelJobApplication(job.id)"
          ></app-job-card>
        }
      </div>
    } @else {
      <div>
        <app-not-found-card></app-not-found-card>
      </div>
    }
  </div>
</div>
