@let loginErr = loginError();
<header class="sticky top-0">
  <nav>
    <div class="bg-slate-200 flex items-center justify-between px-2.5">
      <a routerLink="/" class="text-xl text-gray-600">Job Portal</a>
      <p-menubar [model]="navbarItems()" class="bg-transparent rounded-none text-black p-0" />
      <div>
        @if (authUser() === null) {
          <div>
            <p-button
              label="Login"
              icon="pi pi-sign-in"
              severity="contrast"
              size="small"
              [autofocus]="false"
              (onClick)="showLoginDialog()"
              class="focus:outline-none focus:border-none"
            />
          </div>
        } @else {
          <div>
            <p-menu #profileMenu [model]="profileMenuItems" [popup]="true" appendTo="body" />
            <p-button
              (click)="profileMenu.toggle($event)"
              icon="pi pi-user"
              size="small"
              severity="contrast"
              class="focus:outline-none focus:border-none"
            />
          </div>
        }
      </div>
    </div>
  </nav>
</header>

<main>
  <p-toast />
  <p-confirmdialog />
  <div class="px-2.5">
    <router-outlet />
  </div>

  <!-- notification panel  -->
  @if (newJobPostList().length) {
    <div class="fixed bottom-5.5 right-5.5">
      <p-button (click)="notification_op.toggle($event)" icon="pi pi-bell" severity="contrast" />
      <p-popover #notification_op>
        <div class="max-h-72 overflow-scroll">
          @for (job of newJobPostList(); track job.id) {
            <p-panel header="New Job" class="my-1">
              <p class="m-0 text-slate-500">
                <strong>{{ job.company.name.toUpperCase() }}</strong> has posted for
                <strong>{{ job.title.toUpperCase() }}</strong> role.
              </p>
            </p-panel>
          }
        </div>
      </p-popover>
    </div>
  }

  <!-- login form dialog -->
  <p-dialog
    header="Login"
    [modal]="true"
    [(visible)]="loginDialogVisibility"
    [dismissableMask]="true"
    [focusOnShow]="false"
    (onHide)="onDialogHide()"
  >
    <div>
      <form
        #loginFormEl
        [formGroup]="loginForm"
        (ngSubmit)="onLogin($event)"
        class="flex flex-col gap-4 w-xs max-w-md"
      >
        <div class="flex flex-col gap-2">
          <input
            pInputText
            id="email"
            type="email"
            formControlName="email"
            placeholder="Enter your email"
            autocomplete="off"
            [pAutoFocus]="false"
            [fluid]="true"
          />

          @if (email.invalid && (email.touched || email.dirty || formSubmitAttempted)) {
            <small class="text-red-500">
              @if (email.errors?.['required']) {
                Email is required
              } @else if (email.errors?.['email']) {
                Please enter a valid email
              }
            </small>
          } @else if (loginErr && loginErr.field === 'email') {
            <small class="text-red-500">{{ loginErr?.message }}</small>
          }
        </div>

        <div class="flex flex-col gap-2">
          <p-password
            id="password"
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
            placeholder="Enter your password"
            autocomplete="new-password"
            [pAutoFocus]="false"
            [fluid]="true"
          />

          @if (password.invalid && (password.touched || password.dirty || formSubmitAttempted)) {
            <small class="text-red-500"> Password is required </small>
          } @else if (loginErr && loginErr.field === 'password') {
            <small class="text-red-500">{{ loginErr?.message }}</small>
          }
        </div>

        <p-button
          type="submit"
          label="Login"
          size="small"
          severity="contrast"
          class="self-end"
          [loading]="loginInProgress()"
        />
      </form>
    </div>
    <div class="mt-4">
      <p class="text-sm">
        Don't have an account?
        <a class="text-blue-400 hover:text-blue-500 cursor-pointer" (click)="onActionCreate($event)"
          >Create</a
        >
      </p>
    </div>
  </p-dialog>
</main>
