<!-- layout  -->
<div class="my-16 mx-auto max-w-3xl grid gap-8">
  <!-- search section  -->
  <div>
    <p-icon-field>
      <p-inputicon [class]="searchResultsLoading() ? 'pi pi-spinner pi-spin' : 'pi pi-search'" />
      <input
        pInputText
        type="text"
        id="job-query"
        placeholder="Search jobs..."
        [formControl]="searchControl"
        autocomplete="off"
        fluid
      />
    </p-icon-field>
  </div>

  <!-- search results section -->
  @if (!searchResultsLoading()) {
    <div class="grid gap-3.5">
      @for (job of searchResults(); track job.id) {
        <app-job-card
          [data]="job"
          [btnOption]="btnOption"
          (onBtnAction)="handleClick()"
        ></app-job-card>
      }
    </div>
  }

  @if (searchControl.value && !searchResultsLoading() && searchResults().length === 0) {
    <div>
      <app-not-found-card content="No Jobs found."></app-not-found-card>
    </div>
  }
</div>
