/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';

body {
  @apply bg-slate-50 text-black;
}

header {
  z-index: 999;
}

.p-menubar-item-link {
  @apply p-4 text-slate-500;
}
.p-menubar-item-link-active {
  @apply border-b-2 border-slate-500;
}

.p-menubar-item-link-active.p-menubar-item-link,
.p-menubar-item-link-active .p-menubar-item-icon {
  @apply text-slate-900;
}

.p-button:focus {
  outline: none;
  box-shadow: none;
}
